(
gameserver_address: "0.0.0.0:14004",
metrics_address: "0.0.0.0:14005",
server_name: "TEST",
server_description: "TEST",
max_players: 123,
world_seed: 123,
start_time: 32400,
admins: [
"juli199696",
],
map_file: None,
)