(
gameserver_address: "123",
metrics_address: "0.0.0.0:14005",
server_name: "Test",
server_description: "test",
max_players: 123,
world_seed: 123,
start_time: 32400,
admins: [
"admin",
],
map_file:mymap,
)